div.banner-container
    div.bannerBox.PS
        div.banner(style="background-image:url(./images/banner-1.jpg)")
            div.txt
                img(src="./images/main-txt.svg" loading='lazy')
            