div.footer-container
    div.box.b1
        img(src="./images/footer-logo.svg")
        p 立案號碼 桃市衛心字第 號
    div.box.b2
        div.title 聯絡資訊
        ul
            li 心設計心理諮商所
            li Wonderful design counseling center
            li 03-4013311
            li wdcc4013311@gmail.com
            li 324 桃園市平鎮區文化街66-1號
    div.box.b3
        div.title 社群媒體
        div 
            a(href="https://lin.ee/qllzpsF" target='_black')
                img.icon(src='./images/icon-line-w.svg')
            a(href="https://www.facebook.com/profile.php?id=100088215491511" target='_black')
                img.icon(src='./images/icon-fb-w.svg' )
    
footer Copyright © 2023 Wonderful Design Counseling Center All rights reserved.