head
    title 心設計心理諮商所-Wonderful Design
    meta(charset='UTF-8')
    meta(description='心設計心理諮商所-Wonderful Design')
    meta(copyright='© 2022 心設計心理諮商所-Wonderful Design')
    link(rel="shortcut icon", type="images/png", href="images/favicon.png")
    meta(property='fb:app_id' content="")

    meta(property="og:type" content="website")
    meta(property="og:url" content="")
    meta(property="og:title" content="心設計心理諮商所-Wonderful Design")
    meta(property="og:description" content="心設計心理諮商所-Wonderful Design")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(names="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="format-detection" content="telephone=no")
    