//-公用組件
include ./comps/components.pug
doctype html
html
    include ./comps/header.pug
    body
        div.main-container            
            +nav('about')
            div.page-index
                include ./comps/banner.pug