//-公用組件
include ./comps/components.pug
doctype html
html
    include ./comps/header.pug
    body
        div.main-container            
            +nav('column')
            +thumb('首頁 > 文章專欄')
            div.page-box.column
                +sub-banner('./images/banner-column.jpg','文章專欄')
                div.block
                    +column(6)
            +toolBox()
            include ./comps/footer.pug 
                    
