//-公用組件
include ./comps/components.pug
doctype html
html
    include ./comps/header.pug
    body
        div.main-container            
            +nav('team')
            div.page-index
                +banner('./images/banner-1.jpg')                
                div.block.y1 member
            include ./comps/footer.pug 