//-公用組件
include ./comps/components.pug
doctype html
html
    include ./comps/header.pug
    body
        div.main-container            
            +nav('team')
            +thumb('首頁 > 專業團隊')
            div.page-box.team
                +sub-banner('./images/banner-team.jpg','心設計的專業團隊')
                div.block.p100               
                    +team()
            +toolBox()
            include ./comps/footer.pug 